<!DOCTYPE html>
<html>
  <head>
    <title>
      MoarTi.me
    </title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="section" id="header">
      <div class="padding">
        <h1><a href="/"><i class="fa fa-calendar"></i> Moar<strong>Ti.me</strong></a></h1>
        <a id="login" href="auth/google">Log in</a>
      </div>
    </div>
    <img src="/scribbler.png" id="scribbler" />
    <div class="section">
      <div class="half">
        <div class="padding">
          <h2>We find time so you don't have to.</h2>
          <h3>Create an event and we'll find a time that works best for everyone attending.</h3>
          <a class="button" href="auth/google"><strong>Log in</strong> to get started</a>
        </div>
      </div>
    </div>
  </body>
</html>