@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);

body {
  font-family: 'Open Sans', sans-serif;
  color:#FFF;
  background-color:#c41411;
  margin:0;
  padding:0;
}

h1 {
  font-weight: lighter;
  font-size:50px;
  line-height:50px;
  padding: 10px 0;
  margin:0;
  display:inline-block;
  vertical-align:middle;
  text-align:left;
}

h1 strong {
  font-weight:normal;
}

#login {
  display:inline-block;
  float:right;
  vertical-align:middle;
  height:30px;
  line-height:30px;
  padding: 10px;
  margin: 10px 0;
  border-radius:5px;
  border: 1px solid #000;
  color:#000;
  text-decoration:none;
  transition: all 0.3s ease;
}

#login:hover {
  background-color:#000;
  color:#FFF;
}

h1 i {
  margin-right: 10px;
}

h2 {
  padding:10px 0;
  font-weight:lighter;
  font-size: 30px;
  text-align:center;
}

h3 {
  font-weight:lighter;
  text-align:center;
  font-style:italic;
  padding-bottom:20px;
}

h4 {
  font-weight:bold;
  font-size:16px;
  padding:10px 0;
  margin:0;
}

h5 {
  margin: 30px 0;
  font-weight:lighter;
  font-style:italic;
  font-size:15px;
}

.thumbnail {
  display:inline;
  width:50px;
  height:50px;
  border-radius:50%;
  vertical-align:middle;
  margin-right:10px;
}

.person {
  width: 400px;
  border-bottom:1px solid #FFF;
  margin:20px auto 0 auto;
  padding-bottom:20px;
  text-align:left;
}

.person:last-of-type {
  border:0;
}

input, select {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s linear;
  background-color:transparent;
  border:0;
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
  font-size: inherit;
  color:#FFF;
  margin-left:20px;
  width:400px;
}

select {
  -webkit-appearance: none;
}

input:focus {
  outline:0;
}

option {
  color: #000;
}

input:hover, input:focus, select:hover {
  border-bottom: 1px solid #FFF;
}

input::-webkit-calendar-picker-indicator {
  color:rgba(255, 255, 255, 0.5);
}

input::-webkit-calendar-picker-indicator:hover {
  color:#FFF;
  background-color:transparent;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.5);
}

input[type="submit"]{
  cursor:pointer;
  border:1px solid #FFF;
  border-radius:5px;
  width:auto;
  padding: 20px 40px;
  color:#FFF;
  margin:20px auto;
  transition: all 0.3s ease;
  text-decoration:none;
  display:inline-block;
}

input[type="submit"]:hover{
	color:#c41411;
  background-color: #FFF;
}

input[type="submit"] {
  margin-top:40px;
}

input[type="checkbox"] {
  width:30px;
  height:30px;
  vertical-align:middle;
  margin:20px 20px 20px 0;
  border:0;
  background-color:#FFF;
}

input[type="file"]{
	border:0;
	font-family: inherit;
	font-color: inherit;
}

#upload{
	color:#000;
}

.input {
  margin-bottom: 15px;
}

form {
  font-size:20px;
  text-align:center;
}

form label {
  width: 80px;
  display:inline-block;
  font-weight:lighter;
  font-style:italic;
  text-align:left;
}

.message {
  text-align:center;
}

.padding {
  width:1000px;
  margin:20px auto;
  text-align:center;
}

.section {
  padding:10px;
}

/* Header style */
#header, #header .padding {
  color:#333;
  background-color:#FFF;
  text-align:left;
}

#event {
  background-color:#ff6f00;
}

#attend {
  text-align:center;
  font-size: 20px;
}

#public {
  text-align:center;
}

#calendar {
  text-align:center;
  overflow-y:hidden;
  max-height:0;
  padding: 0 20px;
  transition: all 0.3s linear;
}

#calendar.open {
  max-height:400px;
  padding:20px;
}

#calculateAction {
  margin-top:40px;
}

@media all and (max-width: 1200px) {
  .padding {
    width:auto;
    margin:20px;
  }
}

.button2 {
	display: inline;
	border:1px solid #FFF;
	border-radius:10px;
	background-color: #FFF;
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
	padding: inherit;
	font: 'Open Sans', sans-serif;
	color: #c41411;
	cursor:pointer;
  width:auto;
  padding: 20px 40px;
  margin:20px auto;
  transition: all 0.3s ease;
  text-decoration:none;
  display:inline-block;
}

.button2:hover, button2:focus{
  color:#FFF;
  background-color: #c41411;
	border-bottom: 1px solid #FFF;
}
.button {
	display: inline;
	border:1px solid #FFF;
	border-radius:10px;
	background-color: #c41411;
  border-bottom:2px solid rgba(255, 255, 255, 0.5);
	padding: inherit;
	font: 'Open Sans', sans-serif;
	color: #FFF;
	cursor:pointer;
  width:auto;
  padding: 20px 40px;
  margin:20px auto;
  transition: all 0.3s ease;
  text-decoration:none;
  display:inline-block;
}

.button:hover, button:focus{
  color:#c41411;
  background-color: #FFF;
	border-bottom: 1px solid #FFF;
}

.wrapper{
	text-align: center;
}

event{
	display: inline;
	font-style: italic;
	font-size: 20px;
	vertical-align: middle;
}