@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700);

body {
  font-family: 'Open Sans', sans-serif;
  color:#FFF;
  background-color:#c41411;
  margin:0;
  padding:0;
}

h1 {
  font-weight: lighter;
  font-size:50px;
  line-height:50px;
  padding: 10px 0;
  margin:0;
  display:inline-block;
  vertical-align:middle;
}

#login {
  display:inline-block;
  float:right;
  vertical-align:middle;
  height:30px;
  line-height:30px;
  padding: 10px;
  margin: 10px 0;
  border-radius:5px;
  border: 1px solid #000;
  color:#000;
  text-decoration:none;
  transition: all 0.3s ease;
}

#login:hover {
  background-color:#000;
  color:#FFF;
}

h1 i {
  margin-right: 10px;
}

h2 {
  padding:10px 0;
  font-weight:lighter;
  font-size: 30px;
  text-align:center;
}

h3 {
  font-weight:lighter;
  text-align:center;
  font-style:italic;
  padding-bottom:20px;
}

.thumbnail {
  display:inline;
  width:50px;
  height:50px;
  border-radius:50%;
  vertical-align:middle;
  margin-right:10px;
}

input {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.3s linear;
  background-color:transparent;
  border:0;
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
  font-size: inherit;
  color:#FFF;
  margin-left:20px;
  width:400px;
}

input:focus {
  outline:0;
}

input:hover, input:focus {
  border-bottom: 1px solid #FFF;
}

input::-webkit-calendar-picker-indicator {
  color:rgba(255, 255, 255, 0.5);
}

input::-webkit-calendar-picker-indicator:hover {
  color:#FFF;
  background-color:transparent;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.5);
}

input[type="submit"], a.button {
  cursor:pointer;
  border:1px solid #FFF;
  border-radius:5px;
  width:auto;
  padding: 20px 40px;
  color:#FFF;
  margin:20px auto;
  transition: all 0.3s ease;
  text-decoration:none;
  display:inline-block;
}

input[type="submit"]:hover, a.button:hover {
  color:#c41411;
  background-color: #FFF;
}

input[type="submit"] {
  margin-top:40px;
}

input[type="checkbox"] {
  width:30px;
  height:30px;
  vertical-align:middle;
  margin:20px 20px 20px 0;
  border:0;
  background-color:#FFF;
}

.input {
  margin-bottom: 15px;
}

form {
  font-size:20px;
  text-align:center;
}

form label {
  width: 80px;
  display:inline-block;
  font-weight:lighter;
  font-style:italic;
  text-align:left;
}

.message {
  text-align:center;
}

.padding {
  width:1000px;
  margin:20px auto;
}

.section {
  padding:10px;
}

/* Header style */
#header {
  color:#333;
  background-color:#FFF;
}

#event {
  background-color:#ff6f00;
}

#attend {
  text-align:center;
  font-size: 20px;
}

#calendar {
  text-align:center;
  overflow-y:hidden;
  max-height:0;
  padding: 0 20px;
  transition: all 0.3s linear;
}

#calendar.open {
  max-height:400px;
  padding:20px;
}

@media all and (max-width: 1200px) {
  .padding {
    width:auto;
    margin:20px;
  }
}

button {
	display: inline-block;
	text-align: right;
	background-color: #FFF;
  border-bottom:1px solid rgba(255, 255, 255, 0.5);
  font-size: inherit;
  color: transparent;
	padding: 0px;
  width: auto;
	height: auto;
	font-family: 'Open Sans', sans-serif;
}

button:hover, button:focus {
  border-bottom: 1px solid #FFF;
}

a{
	display: block;
}